<div id="feed_menu"><%= render 'share/feed_menu'%></div>
<br />

<div class='feed_contents' id='feed_contents'>
  <div id="stops_times">
	<% if @stops %>
	  <%= render 'share/pop-stops' %>
	<% end %>
  </div>

	<% if @feed_items && @feed_items.any? %>
	  <%= will_paginate @feed_items %>
	  <ul class="feed_items list">
	  	<%= render partial: 'share/feed_item', collection: @feed_items %>
	  </ul>
	<% else %>
    	
		<div style="margin: 2px 0 100px 20px;">NO feed item found. </div>
	<% end %>

</div>