
<div class="pop_display row-fluid" id="pop-stops">
  <div class="pop_contents span8 offset2">
    <%= link_to('&times;'.html_safe, @url.to_s, id:"pop-stops-close", class: "close", data:{ dismiss: "pop-stops"} ) %>

    <div class="row-fluid">
      <div class="span11 stop-times">
      	<% @stops.each_slice(5) do |five|%>

      	  <div class="s_name row-fluid">
      	  	<% five.each do |s| %>
      	  	  <div class="span2"><%= s["s_name"]%></div>
      	  	<% end %>
      	  </div>

      	  <div class="s_time row-fluid">
      	  	<% five.each do |s| %>
              <div class="span2"><%= s["stop_time"]%></div>
            <% end %>
      	  </div>

      	<% end %>
      </div>
    </div>

  </div>
</div>


