<div class="row">
  <div class="span1 border-red">1</div>
  <div class="span1 border-orange">2</div>
  <div class="span1 border-yellow">3</div>
  <div class="span1 border-blue">4</div>
  <div class="span1 border-aqua">5</div>
  <div class="span1 border-green">6</div>
  <div class="span1 border-lime">7</div>
  <div class="span1 border-olive">8</div>
  <div class="span1 border-pink">9</div>
  <div class="span1 border-orchild">10</div>
  <div class="span1 border-voilet">11</div>
  <div class="span1 border-purple">12</div>
</div>

<div class="row-fluid">
  <div class="span1 border-red">1</div>
  <div class="span1 border-orange">2</div>
  <div class="span1 border-yellow">3</div>
  <div class="span1 border-blue">4</div>
  <div class="span1 border-aqua">5</div>
  <div class="span1 border-green">6</div>
  <div class="span1 border-lime">7</div>
  <div class="span1 border-olive">8</div>
  <div class="span1 border-pink">9</div>
  <div class="span1 border-orchild">10</div>
  <div class="span1 border-voilet">11</div>
  <div class="span1 border-purple">12</div>
</div>