<% if signed_in? %>
<ul>
  <li class="user">
	<%= image_tag current_user.avatar.url(:small) , size: "60x60" %>
  	<p class="username"><%= current_user.name %></p>
    <%= link_to "Edit", edit_user_path(current_user), class: "btn btn-inverse btn-small" %> 
    <%= link_to "Logout", signout_path, method: "delete", class: "btn btn-inverse btn-small"  %>
    
    
  </li>
  
  <li class="mailcounts" >
  	<a href="#">Unread Mails : <span>1</span></a>
  </li>

</ul>
<% end %>  