<div class="pop_display pop_hidden row-fliud" id='pop-request'>
  <div class="pop_contents span8 offset2">
    <div class="form-inline span8 offset2">
      <h5 class="form-header span12">Send Request Message
        <%= link_to('&times;'.html_safe, @user, id:"pop-request-close", class: "close", data:{ dismiss: "pop-request"} ) %>
      </h5>
      <div class="popfull-content">
        <div class="control-group row-fluid">
          <%= text_area_tag 'msg', raw(sample_request_msg(@user)), 
              class: "span12", rows: "10" %>
        </div>
        <div class="control-group row-fluid">
          <%= submit_tag "Submit Request", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

