      /* login */
#login 
	{	width: 260px; padding: 15px 20px 30px 10px; margin: 5% auto; 
		text-align: center;
		border: 2px solid #999;
  		border-radius: 20px; -moz-border-radius: 20px; 
  		background: #000 url(/trainbuddy/images/bg_login_box.png) repeat-x top; 
	}
#login h1 {	color: #aaa; }
#login flash h3 {padding: 0; line-height: 20px;}