.s_code		{ border: 2px solid blue; padding:5px; align: center;
		  height:620px; width:940px; position:relative;
		  background-image: url(/trainbuddy/public/images/map_div.png); background-repeat:no-repeat; background-position:center; }
.s_code div div	{ float: left; position:absolute; z-index:2; background-repeat:no-repeat; background-position:left;}
.s_code_right div {text-align:right; width:50px; height:16px;}
.s_code_left div {text-align:left; width:50px; height:16px;}
.s_code_up div {  text-align:left; width: 28px; height: 38px;}
.s_code_down div {text-align:left; width: 28px; padding: 20px 0 0 0;}
.s_code_left_up div { text-align:left; width: 28px; height:50px;}
.s_code_left_down div { text-align:left; width: 40px; padding: 25px 0 0 0;}
.selected_area	{ color:#0066cc; text-decoration:underline; font-weight:bold;}
#station_name 	{display:none; z-index:+2; float:left; color:#111; font-weight:bold;}