<%if @users.empty?%>
  <p><strong>No user can be retrieve.</strong></p>
<%else%>
  <%= will_paginate @users %>
  <ul class="list">
  	<% @users.each do |user| %>
	  <li style="clear:both;">
  		<div class="left">
  			<%= link_to(image_tag(user.avatar.url(:small))+"#{user.login}", user ) %>
  		</div>
  		<div class="left"><h3><%= link_to user.name, user %></h3><p>Relation : ---- </p></div>
	  	<% if current_user.admin? %>
	  		<div class="x_icon"><%= link_to "x", user, method: :delete, data: { confirm: "Delete ...?"} %></div>
	  	<% end %>
		</li>
  	<% end %>
  </ul>
<% end %>  

