<%if @users.empty?%>
  <h2><strong>No user can be retrieve.</strong></h2>
<%else%>
  <ul class="list">

    <% @users.each do |user| %>
      <li>
        <div class="row">

          <div class="span2">
            <%= link_to(image_tag(user.avatar.url(:small))+" #{user.login}", user ) %>
          </div>

          <div class="span5">
            <% if current_user.admin? %>
              <%= link_to('&times;'.html_safe, user, method: :delete, class: "close", data:{confirm: "Delete ...?"} ) %>
            <% end %>
            <h3><%= link_to user.name, user %></h3>
            <% if user.reverse_relationships.empty? %>
            <!-- eager loading cant find self due to left join except if user has no relation-->
              <% if current_user?(user) %>
                <p>Relation : Own</p>
              <% else %>
                <p>Relation : Stranger</p>
              <% end %>
            <% else %>
              <p>Relation : <%= user.reverse_relationships.first.status_to_s %></p>
            <% end %>
          </div>

        </div>
      </li>
    <% end %>

  </ul>
<% end %>

