<h3 id="user_name"> <%= @user.name %>

<% if @relation %>
  <%= link_to( user_url(@user, name: true) , id: "cust-name-edit") do %>
    <span id="user-name-edit">Edit</span>
  <% end %>
  <% if @relation.alias_name %>
		- <small>  (<%= @relation.alias_name %>)</small>
  <% end %>

<% end %>
</h3>

<% if params[:name] && @relation %>
  <%= render 'users/custom_name' %>
<% end %>
