<h3 id="user_name"> <%= @user.name %>

<% if @relation %>
  <%= link_to( user_url(@user, name: true) , id: "cust-name-edit") do %>
    <span id="user-name-edit">Edit</span>
  <% end %>
  <% if @relation.alias_name and @relation.alias_name.size > 0%>
		- <small>  (<%= @relation.alias_name %>)</small>
  <% end %>
<% end %>
</h3>

<%= render 'users/custom_name' if @relation %>

