<% provide(:title, 'Edit user') %>
<div class="row-fluid">
  <div class="span11 offset1"><h1>Edit User</h1></div>
</div>


<%= form_for(@user, html: {multipart: true}) do |f| %>

  <%= render 'fields', f: f %>

  <div class="row-fluid" style="border-top: 1px solid #ccc; margin-top: 20px; padding:5px;" >
	<div class="action span3 offset1" ><%= f.submit "Update",  class: "btn btn-large btn-info" %></div>
	<div class="span5"><%= link_to 'Config Matching Profile Setting', edit_profile_path(@user.id) %></div>
  </div>

<% end %>








