<% provide(:title, 'Sign up') %>
<div class="row-fluid">
  <div class="span12"><h1>Sign up</h1></div>
</div>

<%= form_for(@user, html: {multipart: true}) do |f| %>

  <%= render 'fields', f: f %>
  <div class="row-fluid" style="border-top: 1px solid #ccc; margin-top: 20px;">
	<div class="action span5 offset2" ><%= f.submit "Sign up" %></div>
  </div>

<% end %>
