<% provide(:title, 'Sign up') %>

<!-- Not open to public -->

<div class="row-fluid">
  <div class="span7 offset1">
    <h3>Sorry....</h3>
    <h4>We don't accept public users at this moment</h4>
    <p>Due to the application is still in alpha testing stage, only users with invitation keys are allowed to sign-up.</p>
    <p>If you are interested, contact the site owner from methods listed at the <%= link_to 'contact', contact_path %> page </p>
  </div>
</div>

<!--
< render 'sign_up' >
-->