<div class="row-fluid">
  <div class="span12">
  	<h3>Index</h3>
  	<div class="row-fluid">
  	  <div class="span12">
  	    <ol id="index">
  	      <li><h5>Enter Trip Details</h5>
  	      	<ol>
  	      	  <li><a href="#quick-update">Gimme - Quick Update</a></li>
  	      	  <li><a href="#select-post">Beginner - Selection Posting</a></li>
  	      	  <li><a href="#text-post">Advance - Text Posting</a></li>

  	      	</ol>
  	      </li>
  	      <li><h5>Train Time Data</h5>
  	        <ol>
  	          <li><a href="broadcast">Return Broadcasts</a></li>
  	          <li><a href="#matched">Matched Broadcasts</a></li>
  	          <li><a href="#stops">Detail Stops</a></li>
  	        </ol>
  	      </li>
  	      <li><h5>FAQ</h5></li>
  	    </ul>
  	  </div>
  	</div>
  </div>
</div>