<% provide(:title, 'About')%>

<div id="about">

<h1>Trainbuddy</h1>
<p>Trainbuddy is an application that allows you to search <u>today's</u> train time, find out when you might arrival at your destination. Hopefully, it also finds buddies for you during those long hours of "all-stations-to" journey.</p>
<p>The train times shown on this is based on public available data provided by CityRail. The actual arrivaling time may varies due to delays, network issues and cancelations.<p>
<p>Currently Trainbuddy is alpha testing stage, which means there are lots of bugs that need to be fixed. If you are interested, send me a message (< 50 words) from the <%= link_to 'Contact', contact_path %> page.<p>


</div>