<div class="span12">

<% if signed_in? %>
  <% provide(:title, 'Home')%>
  
  <div class="row-fluid">
    <div class="span9"><%= render 'microposts/form' %></div>
  </div>
  
  <div class="row-fluid">
    <div class="span10" id="feeds"><%= render 'share/feeds' %></div>
  </div>

<% else %>
	<% provide(:title) %>
    <h1>
      Page#home
    </h1>
    <p>Find me in app/views/page/home.html</p>
    <p>Registion link </p>
    <%= link_to "Sign up now!", signup_path, class: "signup_button round" %>

<% end %>
</div>






