<% if signed_in? %>
  <% provide(:title, 'Home')%>
  <div class="contentcontainer"><%= render 'microposts/form' %></div>
  <div class="contentcontainer med" id="feeds"><%= render 'share/feeds' %></div>
<% else %>
	<% provide(:title) %>
    <h1>
      Page#home
    </h1>
    <p>Find me in app/views/page/home.html</p>
    <p>Registion link </p>
    <%= link_to "Sign up now!", signup_path, class: "signup_button round" %>

<% end %>







