<% provide(:title, 'Broadcasts')%>


<div class="span12">
  <h3>Broadcasts</h3>

  <div class="row-fluid tab-content">
    <div class="tab-content span10 offset1">

    	<div class="row-fluid">
    	  <div class="span8 offset2"><%= will_paginate @bc %></div>
    	</div>

      <div class="row-fluid">
        <div class="span7 offset1">
      	  <ul class="list-items broadcasts">
      	    <%= render partial: 'broadcasts/cast_item', collection: @bc %>
          </ul>
        </div>
    	</div>

    </div>

      
  </div>


</div>
