<div class="row-fluid" style="margin-bottom:10px">
<div class="span9">

  <%= form_tag microposts_path, class: "form-inline row-fluid"  do %>
    <h5 class="form-header">Posting</h5>
    <div class="controls controls-row">
  	  <div class="input-append span12" style="padding: 20px 20px 0;">
  	    <%= text_field_tag 'content', nil, {class: "span10", id: "quick-post-text", placeholder: "!tb#syd=ask#loc=campsie2townhall...."} %>
  	    <%= submit_tag "Send", class: "btn" %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span5" style="padding-left:20px;">
        <strong>Chars left : </strong><span id="quick-post-count">100</span>
      </div>
    </div> 
    <div class="row-fluid ">
      <div class="span12 form-supp"><%=link_to "Selection Posting", new_micropost_path %></div>
    </div>
  <% end %>

</div>
</div>


