<% provide(:title, 'Feeds')%>
<div class="span12">

  <!-- form includes row -->
  <%= render 'microposts/form' %>
  
  <div class="row-fluid news" id="news">
    <%= render 'share/feeds' %>
  </div>

</div>

