/* Blue Theme Stylesheet */
/*
.contentcontainer .altheading 
	{	 background: #00789F url(/trainbuddy/stylesheets/themes/blue/img/bg_heading_alt.png); 
		background: #00789F; 
		border: 1px solid #00789F; 
		color: #fff; text-shadow: 1px 1px 1px #2D738A;
	}
*/


	
	/* Login Page */

				


/* Extra: Header */
/*
.header_navi ul li a:hover	{	color: #809FFF;}
.header_navi ul li a.active {	color: #00789F;}
*/