	/* Header Elements */

div#header
	{	@include transparent_ratio(85);
		border-bottom: 2px solid Blue;
		@include box-shadow(0 0 6px 3px #000);
	}
a#logo 	{	padding-right: 10px; }

li.dropdown>a#nav-v-dropdown
	{	padding-left: 0; }

ul.dropdown-menu
	{ @include transparent_ratio(95); }

li.dropdown>a.active
	{	i { @extend .icon-white; }
	}




ul.nav>li.pull-right ul.dropdown-menu::before
{           right: 12px; left: auto;}

ul.nav>li.pull-right ul.dropdown-menu::after
{           right: 13px; left: auto;}