#leftside 	
	{ 	padding-top: 10px;
		border-right:1px solid #fff;
		min-height:600px;
		background-color: #666;
	}

li.menu-item
	{	 
		> a 
		{	@extend .btn;
			@extend .btn-block;
			@extend .btn-primary;
			@include rounded-corners(0px);
			text-align: left;
			padding-left: 25px;
		}
	}

ul.menu-body>li
	{	a
		{	@extend .btn;
			@extend .btn-block;
			@extend .btn-inverse;
			@include rounded-corners(0px);
			text-align: left;
			padding-left: 30px;
		}		
	}


/* Top User Info Box */
.user
	{	padding: 5px ;
		color: #ccc;
		overflow: auto;
		img
		{	@extend .img-polaroid;
			float: left;
			margin: 5px 10px 5px 0;
		}
	}

p.username
	{	padding: 5px ;
		color: #fff; 
		font-size: 16px;
		font-weight:500;
	}

/* Side Notifications Link */

li.mailcounts
	{	@extend	.btn-inverse;
		padding: 5px 15px;
		text-align: center;
		> a 
		{	color: white; 
			font-weight: 700; 
			text-decoration: none;
		}
		span
		{	@extend .badge; 
			@extend .badge-info;
			font-size: 14px;
			padding: 5px 15px;
			margin-left: 10px;
		}
	}
