ul.ui-autocomplete
{	position: absolute;
	list-style: none;
	border: 1px solid #999;
	padding: 0;
	margin: 0;
	cursor: pointer;
	li
	{	background-color: white;
		border-top: 1px solid #ddd;
		margin: 0;
		padding: 5px;
		a 
		{ 	display: block;
			color: #555;
			text-decoration: none;
			>b{ font-weight:bold; color: #0081c2;}
		}
		a.ui-corner-all:hover, a.ui-corner-all:focus, a.ui-state-focus
		{	color: #ccc;
			background-color: #08c;
			>b{ color: white;}
		}
	}

}

.ui-helper-hidden-accessible {	display: none;	}



table#station-name
{	border: 1px solid black;
	width: 100%;
	tr:not(:last-child) { border-bottom: 1px solid #888;}
	tr:first-child { border-bottom: 1px solid black;}
	tr>td {text-align: center; padding-top: 5px}
	tr>th:first-child, tr>td:first-child
	{	text-align: left; 
		padding-left:  10%;
		b {color: #08c;}
	}
}

div#rules{ margin-top: 30px;}

div#rules>ul>li
{	margin: 30px 10px;
	>b{ color: blue;}
	>article {margin: 10px;}
	>article td:first-child {min-width: 250px;}
	>article td>b{ text-decoration: underline; color: #08c;}

}

