.v { width: 2px; position: absolute; background-color: CornflowerBlue;}
.h { height: 2px; position: absolute; background-color: CornflowerBlue;}

div#v1 { top: 10px; left: 10px; height: 150px;}
div#v2 { top: 160px; left: 33px; height: 170px;}
div#v3 { top: 30px; left: 90px; height: 130px;}
div#v4 { top: 110px; left: 160px; height: 150px;}
div#v5 { top: 10px; left: 230px; height: 150px;}
div#v6 { top: 160px; left: 503px; height: 250px;}
div#v7 { top: 10px; left: 540px; height: 320px;}
div#v8 { top: 135px; left: 570px; height: 100px;}
div#v9 { top: 110px; left: 600px; height: 50px;}

div#h1 { top: 10px; left: 230px; width: 313px;}
div#h2 { top: 110px; left: 540px; width: 62px;}
div#h3 { top: 135px; left: 540px; width: 30px;}
div#h4 { top: 160px; left: 10px; width: 592px;}
div#h5 { top: 260px; left: 35px; width: 466px;}
div#h6 { top: 328px; left: 35px; width: 506px;}
div#h7 { top: 408px; left: 305px; width: 200px;}


ul.bcode
{ 	/* @extend .border-red;*/
    position: absolute;
    margin: 0;
    padding:0;
    li { list-style: none; margin: 0;}
}


ul.active>li:first-child>a
{   @include border-radius(6px);
    border: 1px solid rgba(0, 0, 0, 0.2);;
    background-color: $bg-color;
    padding: 1px 2px;
    margin: 1px;
}

li.map_bullet
{   content: '\2022';
    position: relative;
    max-width: 0;
    max-height: 0;
    color: CornflowerBlue;
    font-size: 20px;
    display: block;
}


ul.l
{ 	@extend ul.bcode;
    >li:first-child { padding: 0 0 0 10px;}
    >li:first-child:before
    { 	@extend li.map_bullet;
        left: -10px;
    }
}

ul.r
{ 	@extend ul.bcode;
    >li:first-child { padding-right: 0 8px 0 0;}
    >li:first-child:after
    {	  @extend li.map_bullet;
      	display: inline;
        left: 3px;
      	top:  3px;
    }
}

ul.u
{ 	@extend ul.bcode;
    >li:first-child { padding: 5px 0 0 0;}
    >li:first-child:before
    { 	@extend li.map_bullet;
        left: 7px;
        top: -10px;
    }
}

ul.d
{   @extend ul.bcode;
    >li:last-child { padding: 0 0 5px 0;}
    >li:last-child:after
    { 	@extend li.map_bullet;
        left: 7px;
        top: -5px;
    }
}


ul.tr
{   @extend ul.bcode;
    >li.first-child { padding: 5px 5px 0 0; }
    >li:first-child:before
    { 	@extend li.map_bullet;
      	left: 16px;
      	top: -10px;
    }
}


ul.tl
{ 	@extend ul.bcode;
    >li:first-child { padding: 5px 0 0 0;}
    >li:first-child:before
    { 	@extend li.map_bullet;
        left: -2px;
      	top: -12px;
    }
}

ul.dr 
{ 	@extend ul.bcode;
    >li:last-child { padding: 0 0 5px 0;}
    >li:last-child:after
    { 	@extend li.map_bullet;
        left: 16px;
      	top: -5px;
    }
}

ul.dl 
{ 	@extend ul.bcode;
    >li:last-child { padding: 0 0 5px 5px;}
    >li:last-child:after
    { 	@extend li.map_bullet;
        left: -8px;
        top: -8px;
    }
}



/* ul.l */
ul#kinc, ul#edgc, ul#bonj, ul#sleo,
ul#ersv, ul#spet, ul#sydn, ul#temp,
ul#gsqu, ul#masc, ul#doma, ul#inta,
ul#regp, ul#berl,
ul#olyp,
ul#parm, ul#wesm, ul#wewv, ul#penh, ul#toob, ul#sevh, ul#blat,
ul#carf, ul#telp, ul#dnds, ul#rydm, ul#cmla, ul#rosh,
ul#arnc, ul#bans
        {   @extend ul.l;}
ul#blat { top:0px; left:7px;}
ul#sevh { top:22px; left:7px;}
ul#toob { top:40px; left:7px;}
ul#penh { top:60px; left:7px;}
ul#wewv { top:82px; left:7px;}
ul#wesm { top:102px; left:7px;}
ul#parm { top:120px; left:7px;}
ul#kinc { top:174px; left:567px;}
ul#edgc { top:200px; left:567px;}
ul#bonj { top:225px; left:567px;}
ul#sleo { top:1px; left:537px;}
ul#ersv { top:193px; left:497px; li:first-child:before{left:-7px;} }
ul#spet { top:222px; left:497px; li:first-child:before{left:-7px;} }
ul#sydn { top:251px; left:497px; li:first-child:before{left:-7px;} }
ul#temp { top:290px; left:497px; li:first-child:before{left:-7px;} }
ul#gsqu { top:243px; left:538px;}
ul#masc { top:268px; left:538px;}
ul#doma { top:292px; left:538px;}
ul#inta { top:318px; left:538px;}
ul#regp { top:210px; left:158px;} 
ul#berl { top:188px; left:158px;}
ul#olyp { top:100px; left:158px;}
ul#carf { top:18px; left:87px;}
ul#telp { top:41px; left:87px;}
ul#dnds { top:65px; left:87px;}
ul#rydm { top:88px; left:87px;}
ul#cmla { top:113px; left:87px;}
ul#rosh { top:136px; left:87px;}
ul#arnc { top:357px; left:500px;}
ul#bans { top:386px; left:500px;}



/* ul.r */
ul#merl, ul#guif, ul#yenr, ul#faif, ul#cnlv, ul#cabm, ul#warf, ul#livp, ul#casl, ul#glef,
ul#towh, ul#wyny, ul#milp, ul#nsyd, ul#wavt, ul#wscf,
ul#nstf, ul#conw, ul#rhod, ul#meab, ul#wryd, ul#dens, ul#easw, ul#eppg
        {   @extend ul.r;}
ul#merl { top:157px; left:2px;}
ul#guif { top:173px; left:6px;}
ul#yenr { top:191px; left:2px;}
ul#faif { top:208px; left:10px;}
ul#cnlv { top:226px; left:4px;}
ul#cabm { top:248px; left:-1; li:first-child:after{left:-2px;} }
ul#warf { top:265px; left:3px;}
ul#livp { top:280px; left:8px;}
ul#casl { top:298px; left:4px;}
ul#glef { top:316px; left:7px;}
ul#towh { top:123px; left:507px;}
ul#wyny { top:98px; left:505px;}
ul#milp { top:76px; left:511px;}
ul#nsyd { top:54px; left:507px;}
ul#wavt { top:35px; left:508px;}
ul#wscf { top:15px; left:509px;}
ul#nstf { top:130px; left:204px;}
ul#conw { top:110px; left:195px;}
ul#rhod { top:92px; left:198px;}
ul#meab { top:74px; left:192px;}
ul#wryd { top:54px; left:197px;}
ul#dens { top:35px; left:196px;}
ul#easw { top:17px; left:195px;}
ul#eppg { top:-1px; left:195px;}


/* ul.up */
ul#marp, ul#artm, ul#chaw, ul#nryd, ul#mqrp, ul#maqu,
ul#marv, ul#dulh, ul#hurp, ul#canb, ul#cams, ul#belm, ul#lakb, ul#wilp, ul#punb, ul#bant, ul#yagn, ul#birr,
ul#strf, ul#homb, ul#flet,
ul#grav, ul#clyd, ul#aubn,
ul#turl, ul#barp, ul#bexn, ul#kgrv, ul#bevh, ul#narw, ul#rivw, ul#padt, ul#revb, ul#pann, ul#eath, ul#holw
        {   @extend ul.u;}
ul#marp { top:131px; left:541px;}
ul#artm { top:6px; left:470px;}
ul#chaw { top:6px; left:430px;}
ul#nryd { top:6px; left:360px;}
ul#mqrp { top:6px; left:320px;}
ul#maqu { top:6px; left:280px;}
ul#marv { top:256px; left:475px;}
ul#dulh { top:256px; left:448px;}
ul#hurp { top:256px; left:420px;}
ul#canb { top:256px; left:388px;}
ul#cams { top:256px; left:353px;}
ul#belm { top:256px; left:322px;}
ul#lakb { top:256px; left:294px;}
ul#wilp { top:256px; left:269px;}
ul#punb { top:256px; left:238px;}
ul#bant { top:256px; left:210px;}
ul#yagn { top:256px; left:179px;}
ul#birr { top:256px; left:156px;}
ul#strf { top:156px; left:220px;}
ul#homb { top:156px; left:185px;}
ul#flet { top:156px; left:163px;}
ul#grav { top:155px; left:46px;}
ul#clyd { top:155px; left:80px;}
ul#aubn { top:155px; left:113px;}
ul#turl { top:324px; left:476px;}
ul#barp { top:324px; left:438px;}
ul#bexn { top:324px; left:400px;}
ul#kgrv { top:324px; left:366px;}
ul#bevh { top:324px; left:330px;}
ul#narw { top:324px; left:295px;}
ul#rivw { top:324px; left:265px;}
ul#padt { top:324px; left:230px;}
ul#revb { top:324px; left:195px;}
ul#pann { top:324px; left:150px;}
ul#eath { top:324px; left:110px;}
ul#holw { top:324px; left:60px;}

/* ul.d */
ul#rocd, ul#kogr, ul#cart, ul#allw, ul#hurv,
ul#musm, ul#cirq, ul#sjam, ul#mact, ul#newt, ul#stam, ul#pets, ul#lews,
ul#sumh, ul#ashf, ul#crod, ul#burw,
ul#seft, ul#cheh, ul#leif, ul#vilw, ul#carm
        {   @extend ul.d;}

ul#rocd { top:383px; left:460px;}    
ul#kogr { top:383px; left:418px;}    
ul#cart { top:383px; left:375px;}    
ul#allw { top:383px; left:330px;}    
ul#hurv { top:383px; left:293px;}
ul#musm { top:136px; left:572px;}
ul#cirq { top:85px; left:545px;}
ul#sjam { top:85px; left:575px;}
ul#mact { top:136px; left:472px;}
ul#newt { top:136px; left:443px;}
ul#stam { top:136px; left:413px;}
ul#pets { top:136px; left:387px;}
ul#lews { top:136px; left:359px;}
ul#sumh { top:136px; left:326px;}
ul#ashf { top:136px; left:298px;}
ul#crod { top:136px; left:269px;}
ul#burw { top:136px; left:238px;}
ul#seft { top:236px; left:138px;}
ul#cheh { top:236px; left:109px;}
ul#leif { top:236px; left:91px;}
ul#vilw { top:236px; left:68px;}
ul#carm { top:236px; left:37px;}




/* ul.tr */
ul#cent, ul#redf    
        {   @extend ul.tr;}
ul#cent { top: 161px; left:521px; }
ul#redf { top: 161px; left:483px; }

/* ul.tl */
ul#wolc {   @extend ul.tl; top:326px; left:502px; }

/*ul.dr*/
ul#lidc {   @extend ul.dr; top:136px; left:141px;}
/*ul.dl*/
ul#harp {   @extend ul.dl; top:138px; left: 10px;}




ul.active
{   position:relative; }

ul.active>li.own>ul.dropdown-menu
{   background-color: $bg-color;
    display: block;
    left: -8px;
    min-width: 50px;
    text-align: center;
}

ul.active>li.dropdown>ul.dropdown-menu
{   background-color: $text-color;
    @include rounded-bottom(3px);
    li:first-child
    {   display: block; 
        padding: 3px 20px;
        font-weight:bold;
        color: white;
    }
    li>a
    {   color: darken($bg-color,10%); }

    li.divider
    {   border-bottom: 1px solid darken($text-color,10%);
        background-color: darken($text-color, 20%);
    }
}


ul.active>li.down>ul.dropdown-menu::before 
{   position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #111;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
 }
ul.active>li.down>ul.dropdown-menu::after 
{
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid lighten($text-color,10%);
    border-left: 6px solid transparent;
    content: '';
}


ul.active>li.pull-right ul.dropdown-menu::before
{   right: 11px; left: auto;}

ul.active>li.pull-right ul.dropdown-menu::after
{   right: 12px; left: auto;}




ul.active>li.up>ul.dropdown-menu
{   top:auto;
    bottom: 100%;
    margin-bottom: 10px;
}





ul.active>li.up>ul.dropdown-menu::before
{   position: absolute;
    left: 12px;
    bottom: -7px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-top: 6px solid #111;
    border-left: 6px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
 }
ul.active>li.up>ul.dropdown-menu::after 
{
    position: absolute;
    left: 13px;
    bottom: -6px;
    display: inline-block;
    border-right: 5px solid transparent;
    border-top: 5px solid lighten($text-color,10%);
    border-left: 5px solid transparent;
    content: '';
}
