<div class="span9">

  <div class="row-fluid">
    <div class="span12 menu-bar"><div class="menu-tag">Map View</div></div>
  </div>

  <div class="row-fluid">
    <div class="tab-content span12">
      <div style="min-height:500px; position:relative;">
        <div id="v1" class="v" title="v1"></div><div id="v2" class="v" title="v2"></div>
        <div id="v3" class="v" title="v3"></div><div id="v4" class="v" title="v4"></div>
        <div id="v5" class="v" title="v5"></div><div id="v6" class="v" title="v6"></div>
        <div id="v7" class="v" title="v7"></div><div id="v8" class="v" title="v8"></div>
        <div id="v9" class="v" title="v9"></div>

        <div id="h1" class="h" title="h1"></div><div id="h2" class="h" title="h2"></div>
        <div id="h3" class="h" title="h3"></div><div id="h4" class="h" title="h4"></div>
        <div id="h5" class="h" title="h5"></div><div id="h6" class="h" title="h6"></div>
        <div id="h7" class="h" title="h7"></div>

        <% @stops.each { |k,v|  %>
          <%=  render partial: 'stop', locals: {stop: v} %>
        <%  } %>

        <% others = other_stations(@stops.values.map {|s| s.first["s_name"]} )%>
        <% others.each { |k,v| %>
          <%= render partial: 'station', locals: {code: v, name: k} %>
        <% } %>
      </div>
    </div>
  </div>


</div>