<div class="span12">

<% if signed_in? %>
  <% provide(:title, 'Home')%>

  <!-- form contains row -->
  <%= render 'microposts/form' %>


  <div class="row-fluid news">
	  <%= render "map/map" %>
  </div>

<% else %>

	<% provide(:title) %>
    <h1>Map#index</h1>
    <p>Find me in app/views/map/index.html</p>
    <p>Registion link </p>
    <%= link_to "Sign up now!", signup_path, class: "signup_button round" %>

<% end %>
</div>






