<div id="header">
  <%= link_to logo, root_path %>
  <div class='header_navi'>
  <ul>
    <li><%= link_to "Home", root_path %></li>

    <li><%= link_to "Help", help_path %></li>


  </ul>
  </div>

</div>