<ul id="nav">
<% if signed_in? %>
  <li><a class="collapsed heading" id="message">Message</a>
  	<ul class="navigation">
  		<li>Unread</li>
  		<li>Compose</li>
  		<li>Inbox</li>
  		<li>Sent</li>
  		<li>All</li>
  	</ul>
  </li>

  <li><a class="collapsed heading" id="friend">Friends</a>
  	<ul class="navigation">
  	  <li>Friend Requests</li>
  	  <li>All Friends</li>
  	  <li>Suggest Friends</li>
  	  <li>Find Friends</li>
  	</ul>
  </li>
<% end %>

  <li><a class="collapsed heading" id="v">v</a>
    <ul class="navigation">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
  </li>  
</ul>



