<ul id="nav">

  <li><a class="collapsed heading" id="v">v</a>
    <ul class="navigation">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
  </li>  
</ul>



