<% if signed_in? %>

<div class="user">
  <%= image_tag current_user.avatar.url(:small) , :size=>"60x60" %>
  <p>Logged in as:</p>
  <p class="username"><%= current_user.name %> </p>
  <p class="userbtn"><%= link_to "Edit", edit_user_path(current_user) %> </p>
  <p class="userbtn"><%= link_to "Logout", signout_path, method: "delete" %></p>
</div>

<div class="notifications">
  <p class="notifycount">1</p>
  <p>Unread Mails</p>
</div>

<% end %>  